
/*Nome: Nilo Conrado Messias Alves Cangerana          Número USP: 9805362*/

/*---------CSS Reset*/
* { margin:0;
    padding:0;
    box-sizing: border-box; 
    font-family: 'Open Sans', sans-serif;}
a {text-decoration:none;}
ul {list-style:none;}
body {
    background-image: url("../img/background.jpg");
    background-color: #cfeefc;
}

/*----------------------------------------*/
/*---------CSS página home.html-----------*/
/*----------------------------------------*/
/*---------CSS do logotipo|top side(botão login,logout,carrinho e editar informação) - informações do usuário*/
.top-side { 
    width:100%;
    height:280px;
    background-image: linear-gradient(to bottom right, rgb(75, 112, 194), rgb(72, 216, 252)); /*Gradiente do background*/
    position:relative;
}

 /*Ajuste da imagem do logotipo*/
.top-side img {
    width: 350px;
    position:absolute; 
    bottom:55px; 
    left:100px;
}

/*Botão Login*/
.top-side a.login-btn {
    color:black;
    padding: 3px 15px;
    background-color: #75eb79;
    font-size: 25px;
    transition-duration: 0.4s;
    border-radius:3px;
    position:absolute; 
    bottom:20px; 
    right:500px
}
.top-side a.login-btn:hover {
    background-color: rgb(79, 201, 49);
    color: white;
}

/*Botão Logout*/
.top-side a.logout-btn {
    color:black;
    padding: 3px 15px;
    background-color: #f51717;
    font-size: 25px;
    transition-duration: 0.4s;
    border-radius:3px;
    position:absolute; 
    bottom:20px; 
    right:370px;
}
.top-side a.logout-btn:hover {
    background-color: rgb(128, 21, 21);
    color: white;
}


/*Botão Editar informação*/
.top-side a.editInfo-btn {
    color:black;
    padding: 3px 15px;
    background-color: #a8ebc1;
    font-size: 25px;
    transition-duration: 0.4s;
    border-radius:3px;
    position:absolute; 
    bottom:20px; 
    right: 100px;
}
.top-side a.editInfo-btn:hover {
    background-color: rgb(183, 243, 105);
    color: rgb(73, 148, 247);
}

/*Botão Carrinho*/
.fa.fa-shopping-cart {
    transition-duration: 0.4s;
    color: rgb(22, 7, 77);
    font-size:48px;
    position:absolute; 
    bottom:70px; 
    right: 440px;
}
.fa.fa-shopping-cart:hover {
    color:#3B5998;
}

/*Informações do usuário que aparecem no topo.*/
.top-side p {
    font-size:20px;
    position:absolute; 
    bottom:70px; 
    right: 180px;
}

/*---------CSS do Menu principal - botões: Home|Produtos|Serviços*/
.menuPrincipal {
    background-color:black;
    width: 100%;
    padding: 14px 0;
    border: 3px;
    border-style: solid;
    border-color:rgb(58, 58, 58);
}
/*Ajuste dos elementos da lista*/
.menuPrincipal ul {
    margin-left:20px;
}

.menuPrincipal li a{
    color:white;
}

.menuPrincipal li a:hover{
    color:rgb(138, 137, 137);
    transition-duration: 0.4s;
}

.menuPrincipal ul li {
    margin-right: 30px;
    display:inline;
}


/*---------CSS da Página Home*/
/*Texto*/
.homePrincipalText {
    float:left;
    margin-left:80px;
    margin-top:120px;
    position:relative;
    padding-bottom:45px;
}

.homeBotaoExplorar {
    padding-top:20px;
    text-align: center;
}

.homePrincipalText p {
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size:40px;
}

/*Botão Explorar*/
.homePrincipalText a.explorar-btn {
    color:rgb(255, 255, 255);
    padding: 3px 15px;
    background-color: #110e9c;
    font-size: 25px;
    transition-duration: 0.4s;
    border-radius:30px;
    border: 3px;
    border-style:solid;
    border-color: #110e9c;
}
.homePrincipalText a.explorar-btn:hover {
    background-color: rgb(142, 105, 243);
    border-color: #625ba5;
}


/*----------------------------------------*/
/*---------CSS página login.html----------*/
/*----------------------------------------*/
/*BackGround*/
.paginaLogin{
    width:70%;
    background-color: white;
    margin:auto;
    height:500px;
}

/*Texto e Form*/
.paginaLogin p {
    font-size:30px;
    text-align:center;
    padding-top:60px;
}

.paginaLogin form {
    margin: auto;
    text-align:left;
    width:200px;
}

.paginaLogin input {
    width:200px;
    display:block;
    margin-bottom:20px;
    padding: 6px 10px;
}

/*Botão Entrar*/
.paginaLogin button {
    margin: auto;
    background-color: red; 
    color: black; 
    border: 2px solid #f44336;
    font-size: 16px;
    transition-duration: 0.4s;
    padding:5px;
    display:block;
    text-align: center;
}

.paginaLogin button:hover {
    background-color: #f44336;
    color: white;
  }


/*----------------------------------------*/
/*---------CSS página editInfo.html-------*/
/*----------------------------------------*/
/*BackGround*/
.paginaEditar{
    width:70%;
    background-color: white;
    margin:auto;
    height:700px;
}

/*Texto e Form*/
.paginaEditar h2 {
    font-size:40px;
    text-align:center;
    padding-top:30px;
}

.paginaEditar p {
    font-size:30px;
    text-align:center;
    padding-top:30px;
}

.paginaEditar form {
    margin: auto;
    text-align:left;
    width:200px;
}

.paginaEditar input {
    width:200px;
    display:block;
    margin-bottom:20px;
    padding: 6px 10px;
}

/*Botão Salvar*/
.paginaEditar button {
    margin:auto;
    background-color: red; 
    color: black; 
    border: 2px solid #f44336;
    font-size: 16px;
    transition-duration: 0.4s;
    padding:5px;
    display:block;
    text-align: center;
}

.paginaEditar button:hover {
    background-color: #f44336;
    color: white;
  }


/*----------------------------------------*/
/*---------CSS página paginaAdm.html------*/
/*----------------------------------------*/
/*BackGround*/
.paginaAdm{
    width:70%;
    background-color: white;
    margin:auto;
    height:600px;
    position:relative;
}

/*Texto*/
.paginaAdm h2 {
    font-size:40px;
    text-align:center;
    padding-top:30px;
}

/*Botões*/
/*Ajuste dos elementos da lista*/
.paginaAdm ul li {
    text-align:center;
    margin:40px;
}

.paginaAdm li a.admin-btn{
    color:rgb(255, 255, 255);
    background-color: rgb(180, 6, 6);
    padding:10px;
}

.paginaAdm li a.admin-btn:hover{
    background-color: rgb(117, 45, 45);
    transition-duration: 0.4s;
}


/*--------------------------------------------------------------------------------------------------------------------*/
/*----CSS páginas: cadastrarUserAdm.html      cadastrarProdAdm.html     gerenciarUserAdm.html     gerenciarProd.html--*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*BackGround*/
.paginaCadUserAdm{
    width:70%;
    background-color: white;
    margin:auto;
    height:900px;
    position:relative;
}

/*Texto*/
.paginaCadUserAdm h2 {
    font-size:40px;
    text-align:center;
    padding-top:30px;
}

.paginaCadUserAdm form {
    margin: auto;
    text-align:left;
    width:200px;
}

.paginaCadUserAdm input {
    width:200px;
    display:block;
    margin-bottom:20px;
    padding: 6px 10px;
}

.paginaCadUserAdm select {
    width:200px;
    display:block;
    margin-bottom:20px;
    padding: 6px 10px;
}

/*Botão Cadastrar usuário*/
.paginaCadUserAdm button {
    margin:auto;
    background-color: red; 
    color: black; 
    border: 2px solid #f44336;
    font-size: 16px;
    transition-duration: 0.4s;
    padding:5px;
    display:block;
    text-align: center;
}

.paginaCadUserAdm button:hover {
    background-color: #f44336;
    color: white;
  }


/*-------------------------------------------------------------------------------------*/
/*---------CSS páginas listaUserAdm.html     listaProdAdm.html      carrinho.html------*/
/*-------------------------------------------------------------------------------------*/

.paginaListaUserAdm{
    width:70%;
    background-color: white;
    margin:auto;
    padding-bottom:45px;
}

.paginaListaUserAdm h2{
    font-size:40px;
    padding-top:30px;
    padding-bottom:30px;
    margin-left:65px;
}

.btnVoltar{
    background-color: red; 
    color: black; 
    border: 2px solid #f44336;
    font-size: 16px;
    transition-duration: 0.4s;
    padding:3px;
    display:block;
    margin-left:65px;
    margin-bottom:30px;
}

.btnVoltar:hover {
    background-color: #f44336;
    color: white;
  }

/*Tabela de usuarios*/
.listaUsers{
    width:90%;
    border:3px;
    border-style: solid;
    margin:auto;
    height:500px;
    overflow:auto;
}

.tabelaAllUsers{
    margin-left:30px;
    width:100%;
}

.tabelaAllUsers td{
    text-align: left;
    height: 50px;
}

/*Botão Editar*/
.fa.fa-edit {
    transition-duration: 0.4s;
    color: rgb(153, 151, 163);
    font-size:36px;
}
.fa.fa-edit:hover {
    color:#3B5998;
}

/*Botão Excluir*/
.fa.fa-trash {
    transition-duration: 0.4s;
    color: rgb(240, 34, 34);
    font-size:36px;
}
.fa.fa-trash:hover {
    color:#dd6187;
}

.formInline{
    display: inline;
}

.formInline input{
    width:60px;
}

/*---------CSS da Página Carrinho: carrinho.html*/
.valorTotal{
    font-size:36px;
    font-weight: bold;
    position:absolute;
    right:100px;
    margin-top:50px;
}

.realizarCompra{
    display:block;
}

.paginaCarrinho{
    width:70%;
    background-color: white;
    margin:auto;
    height:1600px;
    position:relative;
}

.paginaCarrinho h2{
    font-size:40px;
    padding-top:30px;
    padding-bottom:30px;
    margin-left:65px;
}

.paginaCarrinho h3{
    font-size:34px;
    padding-top:30px;
    padding-bottom:30px;
    margin-left:65px;
}

.infoCompra{
    position:absolute;  
    bottom:100px;
    left: 60px;
}

.infoCompra input{
    width:140px;
}

/*Botão Finalizar Compra*/
.realizarCompra-btn{
    color:black;
    padding: 3px 15px;
    background-color: #eff789;
    font-size: 25px;
    transition-duration: 0.4s;
    border-radius:3px;
    position:absolute;  
    bottom:100px;
    right: 100px;
}
.realizarCompra-btn:hover {
    background-color: rgb(223, 245, 30);
    color: rgb(255, 0, 0);
}


/*-------------------------------------------------------------------------------------------------------------*/
/*---------CSS páginas: paginaProdutos.html     paginaServicos.html     produto.html    servico.html-----------*/
/*-------------------------------------------------------------------------------------------------------------*/
.paginaProdutos{
    width:70%;
    background-color: white;
    margin:auto;
    padding-bottom:40px;
}

.paginaProdutos h2{
    font-size:40px;
    padding-top:30px;
    padding-bottom:30px;
    margin-left:210px;
    font-size:2vw;
}

/*Listagem dos produtos e servicos*/
.produtosDisplay{
    margin-left:210px;
}

.column img{
    min-height: 300px;
    max-height: 300px;
    min-width: 70%;
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    border:1px solid;
}

.column {
    float: left;
    width: 40%;
    height:400px;
    padding: 10px;
    border:3px solid;
    margin:10px;
    background-color:rgb(212, 211, 211);
    position: relative;
    overflow:auto;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

/*Botão comprar*/
  .produtosDisplay a.compra-btn{
    color:black;
    padding: 3px 15px;
    background-color: #6d6d6d;
    font-size: 20px;
    transition-duration: 0.4s;
    border-radius:3px;
    position: absolute;
    right:5px;
    bottom:25px;
}

.produtosDisplay a.compra-btn:hover {
    background-color: rgb(27, 27, 27);
    color: rgb(255, 255, 255);
}

/*botoes flechas direita esquerda*/
.buttonR {
    background-color: #6d6d6d;
    border: none; 
    color: black;
    padding: 5px 8px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    right:15px;
    bottom:200px;
}

.buttonL {
    background-color:#6d6d6d;
    border: none; 
    color: black;
    padding: 5px 8px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    left:15px;
    bottom:200px;
}

/*Css da Pagina de produto/servico individual: produto.html e servico.html*/
.produtoIndividual{
    width:70%;
    background-color: white;
    margin:auto;
    padding-bottom:60px;
    padding-top:60px;
    display:flex;
    flex-direction:row;
}

.produtoIndividual img{
    min-height: 300px;
    max-height: 300px;
    min-width: 26%;
    max-width: 26%;
    display: block;
    border:1px solid;
    margin-left:200px;
}

.textoProd{
    width: 50%;
    margin-left:10px;
}

.textoProd p{
    padding-bottom:10px;
}

.textoProd form{
    padding-bottom:10px;
}
  
/*Botão adicionar ao carrinho*/
.addCarrinho {
    background-color: #65d7f3;
    border: none; 
    color: black;
    padding: 5px 8px;
    font-size: 16px;
    cursor: pointer;
    transition-duration:0.4s;
    display:block;
    margin-top:40px;
}

.addCarrinho:hover {
    background-color: rgb(69, 10, 165);
    color: rgb(255, 255, 255);
}

/*Form da Pagina de servico individual: servico.html*/
.formInline2{
    display: inline;
}

.formInline2 input{
    margin-right:10px;
    width:200px;
}