<!--Nome: Nilo Conrado Messias Alves Cangerana          Número USP: 9805362-->

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>Projeto Web - E commerce</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
  </head>

  <body>
      <!--Top Side da página que contém logotipo, informações de usuário e botões de login, logout, carrinho, editar informações-->
    <header class="top-side">
        <img src="/images/logo.png" alt="imagem logo">
        <a class="login-btn" href="/login.html" title="Fazer Login no site"> Login</a>
        <a class="logout-btn" href="/login.html" title="Sair da conta"  onclick="deslogar()"> Logout</a>
        <a class="editInfo-btn" href="/editInfo.html" title="Editar Informações de Usuário"> Editar Informações</a>
        <a class="carrinho-btn" href="/carrinho.html"title="Ver Carrinho"> <i class="fa fa-shopping-cart"></i></a>
        <p id="informacaoUsuario">
        </p>
    </header>

    <!--Menu Principal: botões Home, Produtos e Serviços-->
    <div class="menuPrincipal">
        <nav>
            <ul>
                <li> <a href="/home.html" title="Ir para Home"> Home</a> <li>
                <li> <a href="/paginaProdutos.html" title="Ir para Produtos"> Produtos</a> <li>
                <li> <a href="/paginaServicos.html" title="Ir para Serviços"> Serviços</a> <li>
            </ul>
        </nav>
    </div>

    <!--Tabela de produtos-->
    <div class="paginaProdutos">
        <h2>Produtos</h2>

        <div class="produtosDisplay">
          <% 
          var qtdProdutos=0;
          var indiceProdutos=0; %>
          <% for(var i=0; i<resDoc.length; i++){ %>
                  <% if(resDoc[i].tipo === 'produto'){ %>
                      <%qtdProdutos++%>
                  <% } %>
         <% } %>

         <% for(var i=0; i<resDoc.length; i++){ %>
          <% if(resDoc[i].tipo === 'produto'){ %>
            <% if(indiceProdutos < qtdProdutos){ %>
              <% if(indiceProdutos%2 ==0){ %>
                <%var vetorFotosObj=(resDoc[i].foto).split(';')%>
                <%var vetorFotos =[] %>
                <%vetorFotos.push(vetorFotosObj[0])%>
                <%vetorFotos.push(vetorFotosObj[1])%>
                <%var prodAtual=indiceProdutos%>
                <div class="row">
                  <div class="column">
                  <img class="fotoClass" src="<%=vetorFotos[0]%>" alt="produto">
                  <p>Nome: <%=resDoc[i].nome %></p>
                  <p>Preço: R$ <%=resDoc[i].preco %></p>
                  <p>Em Estoque: <%=resDoc[i].estoque %> unidades</p>
                  <a class="compra-btn" href="produto.html/<%= resDoc[i].idProduto %>" title="Comprar Produto"> Comprar</a>
                  <button type="button" class="buttonR" onclick="avancaFoto('<%=vetorFotos%>')"><i class="fa fa-angle-right"></i> </button>
                  <button type="button" class="buttonL" onclick="voltaFoto('<%=vetorFotos%>')"><i class="fa fa-angle-left"></i> </button>
                  </div>
              <% } %>
              <%indiceProdutos++%>
              <% i++ %>
              <% if(indiceProdutos < qtdProdutos){ %>
                <% for(var j=i; j<resDoc.length; j++){ %>
                  <% if(resDoc[j].tipo === 'produto'){ %>
                    <%var vetorFotosObj=(resDoc[j].foto).split(';')%>
                    <%var fotoAtual =0%>
                    <%var vetorFotos =[] %>
                    <%vetorFotos.push(vetorFotosObj[0])%>
                    <%vetorFotos.push(vetorFotosObj[1])%>
                    <%var prodAtual=indiceProdutos%>
                      <div class="column">
                      <img class="fotoClass" src="<%=vetorFotos[0]%>" alt="produto">
                      <p>Nome: <%=resDoc[j].nome %></p>
                      <p>Preço: R$ <%=resDoc[j].preco %></p>
                      <p>Em Estoque: <%=resDoc[j].estoque %> unidades</p>
                      <a class="compra-btn" href="produto.html/<%= resDoc[j].idProduto %>" title="Comprar Produto"> Comprar</a>
                      <button type="button" class="buttonR" onclick="avancaFoto('<%=vetorFotos%>')"><i class="fa fa-angle-right"></i> </button>
                      <button type="button" class="buttonL" onclick="voltaFoto('<%=vetorFotos%>')"><i class="fa fa-angle-left"></i> </button>
                      </div>
                      <% i=j %>
                  <% } %>
                  <%indiceProdutos++%>
                <% } %>
              <% } %>
              </div>
            <% } %>
          <% } %>
        <% } %>

          </div>
          

        </div>
        
    </div>
    <script src="/javascripts/aplicacao.js"> </script>
  </body>
</html>