<!--Nome: Nilo Conrado Messias Alves Cangerana          Número USP: 9805362-->

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>Projeto Web - E commerce</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
  </head>

  <body>
      <!--Top Side da página que contém logotipo, informações de usuário e botões de login, logout, carrinho, editar informações-->
    <header class="top-side">
        <img src="/images/logo.png" alt="imagem logo">
        <a class="login-btn" href="/login.html" title="Fazer Login no site"> Login</a>
        <a class="logout-btn" href="/login.html" title="Sair da conta"  onclick="deslogar()"> Logout</a>
        <a class="editInfo-btn" href="/editInfo.html" title="Editar Informações de Usuário"> Editar Informações</a>
        <a class="carrinho-btn" href="/carrinho.html"title="Ver Carrinho"> <i class="fa fa-shopping-cart"></i></a>
        <p id="informacaoUsuario">
        </p>
    </header>

    <!--Menu Principal: botões Home, Produtos e Serviços-->
    <div class="menuPrincipal">
        <nav>
            <ul>
                <li> <a href="/home.html" title="Ir para Home"> Home</a> <li>
                <li> <a href="/paginaProdutos.html" title="Ir para Produtos"> Produtos</a> <li>
                <li> <a href="/paginaServicos.html" title="Ir para Serviços"> Serviços</a> <li>
            </ul>
        </nav>
    </div>

    <!--Mostra Servico na tela-->
    <div class="produtoIndividual">
      <img src="<%=resDoc[0].foto %>" alt="servico">


      <div id="getTipo" style="display: none;"><%=resDoc[0].tipo%></div>
      <div id="getId" style="display: none;"><%=resDoc[0].idProduto%></div>
      <div id="getNome" style="display: none;"><%=resDoc[0].nome%></div>
      <div id="getDesc" style="display: none;"><%=resDoc[0].descricao%></div>
      <div id="getFoto" style="display: none;"><%=resDoc[0].foto%></div>
      <div id="getPreco" style="display: none;"><%=resDoc[0].preco%></div>
      <div id="getEstoque" style="display: none;"><%=resDoc[0].estoque%></div>
      <div id="getTempo" style="display: none;"><%=resDoc[0].tempo%></div>
      <div id="getQtdVend" style="display: none;"><%=resDoc[0].qtdVendida%></div>


      <div class="textoProd">
        <p><b>ID:</b> <%=resDoc[0].idProduto %></p>
      <p><b>Nome:</b> <%=resDoc[0].nome %></p>
      <p><b>Descrição:</b> <%=resDoc[0].descricao %></p>
      <p><b>Preço:</b> R$ <%=resDoc[0].preco %></p>
      <p><b>Tempo:</b> <%=resDoc[0].tempo %> hora(s)</p>
      <label for="dia"><b>Escolher Dia/Horário:</b></label> <form class="formInline2" method="POST"> <input id="inputData" type="date" name="dia"></form>
      <select name="ftempo" id="inSelect">
        <option value=8>8:00</option>
        <option value=9>9:00</option>
        <option value=10>10:00</option>
        <option value=11>11:00</option>
        <option value=12>12:00</option>
        <option value=13>13:00</option>
        <option value=14>14:00</option>
        <option value=15>15:00</option>
      </select>
      <button class="addCarrinho" onclick="addServCarrinho()"> Adicionar ao Carrinho </button>
      </div>
    </div>

    <script src="/javascripts/aplicacao.js"> </script>
  </body>
</html>